<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Doc</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">


</head>

<body>

<header class="container" th:fragment="header">
    <div class="headLinks">
        <div class="headLeft gg">
            <a>
                <button class="bt"><img th:src="@{/images/logo.png}" class="logoImg"></button>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="bt  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-geo-alt" style="font-size:20px color: #0098DA;"></i>   Алматы  </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Астана</a></li>
                        <li><a class="dropdown-item" href="#">Шымкент</a></li>
                        <li><a class="dropdown-item" href="#">Караганды</a></li>
                        <li><a class="dropdown-item" href="#">Бишкек</a></li>
                    </ul>
                </li>
            </ul>
            <a><button class="whatsapp"><img th:src="@{/images/whatsapp.png}"  class="whImg"></button></a>
        </div>
<!--        <form class="d-flex" role="search">-->
<!--            <input class="form-control me-2" type="search" placeholder="Найти врача или услугу" aria-label="Search">-->
<!--            <button class="btn btn-outline-success" type="submit">Найти</button>-->
<!--        </form>-->
        <div class="headRight gg">
            <a th:href="@{'/profile'}" class="cabinet strong0" sec:authorize="isAnonymous()"><i class="bi bi-person blueText" style="font-size: 18px;"></i> Личный кабинет</a>
            <a th:href="@{'/profile'}" class="cabinet strong0" sec:authorize="hasAuthority('ROLE_USER')"><i class="bi bi-person blueText" style="font-size: 18px;"></i> Личный кабинет</a>
            <a th:href="@{'/profile-manager'}" class="cabinet strong0" sec:authorize="hasAuthority('ROLE_MANAGER')"><i class="bi bi-person blueText" style="font-size: 18px;"></i> Менеджер</a>
            <a th:href="@{'/profile-doctor'}" class="cabinet strong0" sec:authorize="hasAuthority('ROLE_DOCTOR')"><i class="bi bi-person blueText" style="font-size: 18px;"></i> Врач</a>
        </div>
    </div>
</header>

<nav th:fragment="navbar">
    <div class="navLink">
        <div class="container links">
            <a href="/home">Главная</a>
            <a href="/doctors">Врачи</a>
            <a href="/analyses">Анализы</a>
            <a href="/diagnostic">Диагностика</a>
            <a href="/cart">Корзина</a>
            <form class="logOut" sec:authorize="isAuthenticated()" method="post" th:action="@{'/sign-out'}">
                <button type="submit">Выйти</button>
            </form>
        </div>
    </div>
</nav>



<footer th:fragment="footer">

</footer>

</body>
</html>

