body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    overflow-y: scroll;
}

mrg-top{
    margin-top: 40px;
}

footer{
    height: 100px;
    background-color: #0097b3;
    display: flex;
    flex-direction: row;

}
.btn{
    color: white;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}

.btn:active{
    background-color: #0e4962 !important;
}

.doctorSps{
    display: flex;
    flex-direction: row;
}

.underline{
    text-decoration: underline;
    font-weight: 500;
}
.greenText{
    color: #7dc67d;
}

.redText{
    color: rgb(236, 81, 76);
}
.blueText{
    color: #0097b3;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}
.h{
    margin-top: 40px;
}
.strongBlue{
    font-weight: 700;
    color:#0097b3;
}

.strong1{
    font-size: 20px;
    font-weight: 600;
}

.strong{
    font-weight: 700;
}
.strong2{
    font-size: 30px;
    font-weight: 800;
}

.smallGreyText{
    color: rgb(157, 157, 157);
    font-size: 14px;
}
.baseColor{
    color: #0097b3;
}
.container {
    width: 1150px !important;
}

.headLinks {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.d-flex button{
    border-radius: 30px;
    background-color: #106a91;
    color: white;
    border: 0px;
    width: 110px;
}
.d-flex button:hover{
    background-color: #0e4962;
}
.whImg{
    height: 25px;
}
.logoImg{
    height: 35px;
    outline: none;
}
.gg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.cabinet{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.cabinet:hover{
    text-decoration: underline;
}
.whatsapp{
    background-color: transparent;
    border: none;
}
.me-2{
    border-radius: 30px;
    width: 320px !important;
    height: 30px;
    border: 1px solid black;
    padding: 25px;
}

.navLink {
    height: 70px;
    background-color:#0097b3;
    display: flex;
    flex-direction: row;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logOut{
    color: white;
    margin-left: auto;
}
.logOut button{
    border: none;
    background-color:transparent;
    color: white;
    font-weight: 600;
    padding: 23px;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}
.logOut button:hover{
    background-color: #0e4962;

}
.links a {
    height: 70px;
    text-decoration: none;
    color: white;
    width: 180px;
    font-weight: 600;
    cursor: pointer;
    display: flex; /* Включаем flex для центрирования */
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}
.links a:hover{
    background-color: #0e4962;

    cursor: pointer;
}
.bt{
    border: none;
    background-color: transparent;
}
.role{
    color:#99cee5;
    text-decoration: none;
}


.breadcrumb{
    margin: 20px 0px 10px 10px !important;
}
.breadcrumb li, .breadcrumb a{
    text-decoration: none;
    color: gray !important;
    font-size: 14px !important;
}
.breadcrumb li:hover, .breadcrumb a:hover{
    text-decoration: underline;
}


/*ГЛАВНАЯ СТРАНИЦА*/
.mainPage img {
    width: 100%; /* Изображение займет всю ширину контейнера */
    height: auto; /* Высота изображения будет пропорционально изменяться */
    object-fit: contain; /* Сохранение пропорций изображения */
    display: block; /* Убирает лишние отступы */
}
.bigHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bigHeadLink{
    border-bottom: 0.1px solid #0097b3;
    border-left: 0.1px solid #0097b3;
    width: 100%;
    height: 250px;
    padding: 20px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color:  black;
    transition-duration: 0.2s;
    transition-delay: 0.3ms;
}
.bigHeadLink:hover{
    box-shadow: rgba(97, 104, 111, 0.2) 0px 8px 54px;
}
.bigHeadDown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.b3{
    border-right: 0.1px solid #0097b3;
}



.hhh{
    margin-top: 20px;
    font-weight: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 66%;
}
.hhh h2{
    font-weight: 900;

}
.addPost{
    border: none;
    background-color:#0e4962;
    color: white;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}
.addPost:hover{
    background-color: #135f80;
}
.allCenter{
    display: flex;
    flex-direction: row;
}
.a1{
    padding: 20px 20px;
}
.bigLeft{
    width: 69%;
}
section{
    margin-top: 20px;
}

hr{
    width: 66% !important;
    margin-left: 0px !important;
    margin-bottom: 30px;
}
.news{
    height: 600px;
    width: 66%;
    border-radius: 20px;
    overflow: hidden;
    color: black;
}
.news h3{
    font-weight: 900;
}
.news img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: top;    /* Оставляет верхнюю часть видимой */

}
.zagolovok{
    padding: 20px 20px 10px 20px;
}
.zagolovok .date{
    color: grey;
    font-size: 16px;
}
.zagolovok .text{
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Ограничение на количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news button{
    width: 100%;
    height: 60px;
    border: 0.5px solid #0097b3;
    background-color: transparent;
    color: #0097b3;
    font-weight: 700;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
    cursor: pointer;
}
/*.news button:hover{*/
/*    color: white;*/
/*    background-color: #0097b3;*/
/*}*/
.bigRight{
    width: 40% !important;
    position: sticky;
    top: 35px; /* Начнёт фиксироваться сверху страницы при прокрутке */
    align-self: flex-start; /* Остается сверху в пределах контейнера */
    margin-top: 20px;
}
.medical-girl{
    width: 300px;
    float: right;
}


/*стили страницы врачей*/
.doctorProfile{
    margin-top: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}
.marginFoot{
    margin-bottom: 50px;
}
.doctorProfileHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.doctorUp{
    width: 100%;
    height: auto;
    padding: 25px;
    border: 0.5px solid #a1c5d5;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}
.profileUp{
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
}
.profileUp img {
    width: 150px;
}
.bookDoctor{
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background-color: #ff7b7b;
    color: white;
    font-weight: 700;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}
.bookDoctor:hover{
    background-color: white;
    color: #ff7b7b;
    border: 1px solid #ff7b7b;
}

.profileDown{
    border: 1px solid blue;
    height: auto;
}
.doctorDown{
    width: 100%;
    height: auto;
    padding: 25px 35px;
    border: 0.5px solid #a1c5d5;
    border-radius: 0px 0px 20px 20px;
    background-color: #f5fcff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profileText{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profileTextDown{
    display: flex;
    flex-direction: column;

}
.proiflePrice{
    display: flex;
}



/*АНАЛИЗ*/
.analizHead, .diagnostikaHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.analizCenter{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.analizTable{
    width: 50%;
    padding: 20px 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action{
    align-self: center;
}
.analizBtn{
    width: 100%;
    height: 60px;
    border: 0.4px solid rgb(226, 226, 226);
    background-color: white;
    color: #0097b3;
    font-weight: 700;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 20px;

}
.analizBtn::before{
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    height: 100%;
    width: 10px;
    background-color: #ffffff;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}

.analizBtn:hover::before {
    background-color: #0097b3; /* Change color on hover */
    width: 10px; /* Change width on hover */
}
.analizBtn:hover{
    color: white;
    background-color: #85c4df;
}
.analizList{
    width: 100%;
}
.analizComponent{
    border-bottom: 0.1px solid rgb(228, 228, 228);
    border-left: 0.1px solid rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    min-height: 110px;
    align-items: center;
    transition-duration: 0.2s;
    transition-delay: 0.3ms;
    justify-content: space-between;
    background-color: #f9fdff;
}
.analizComponent:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}
.analizName{
    width: 65%;
}
.analizName h6{
    margin-top: 6px;
}
.analizPrice{
    display: flex;
    flex-direction: row;
    width: 30%;
    gap: 15px;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;

}
.analizPriceButton {
    padding: 1px 23px;
    border: 1px solid #0097b3;
    background-color: transparent;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.addedItem{
    padding: 1px 23px;
    border: 1px solid #0097b3;
    color: white;
    background-color: #0097b3;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.analizPriceButton:hover {
    background-color: #0097b3;
    color: white;
}



/* ДИАГНОСТИКА */
.announcement {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
}

.announcementText{
    border: 0.5px solid rgb(237, 237, 237);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8fdff;
}
.announcement img {
    grid-column: 1/ 2; /* Занимает первую колонку */
    grid-row: 1 / span 2; /* Занимает все три ряда */
    width: 40%; /* Чтобы изображение занимало всю ширину своей ячейки */
    height: 100%; /* Чтобы изображение занимало всю высоту своей ячейки */
    object-fit: cover; /* Сохраняет пропорции изображения */
}
.announcementLeg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.announcementBt{
    background-color: #0097b3;
    color: white;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 40px;
}
.diagnostikaList{
    margin-top: 30px;
    border-top: 0.5px solid rgb(231, 231, 231);
}
.diagnostikaCategory h4{
    padding: 20px;
}
.diagnostikaComponent h5{
    margin-left: 55px;
}
.diagnostikaComponent{
    padding: 15px;
    border-top: 0.5px solid rgb(231, 231, 231);
    border-bottom: 0.5px solid rgb(231, 231, 231);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}
.diagnostikaComponent:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



/*ФОРМА РЕГИСТРАЦИИ И ЛОГИНА*/
.regAndLog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.regForm{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  width: 40%;
    align-items: center;
    height: auto;
    padding: 40px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}


.form-group{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
}
.form-group input{
    padding: 10px;
    border: 0px;
    border-bottom: 0.5px solid #0097b3;
}
.fg2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.regButton{
    background-color: #ff7b7b;
    color: white;
    font-weight: 600;
    border: 0px;
    padding: 15px 25px;
    border-radius: 30px;
    margin: 10px 0px;
    transition-duration: 0.4s;
    transition-delay: 0.6ms;
}
.regButton:hover{
    background-color: #ab5050;
}
.logQuestion{
    margin: 20px 0px 10px 0px;
}
.logQuestion a{
    color: #0097b3;
}





/*ПРОФИЛЬ МЕНЕДЖЕРА*/


.profileZapic{
    border: 1px solid rgb(243, 243, 243);
    padding: 20px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 0px 0px 30px 0px;
}
.profileZapic h3{
    margin: 0px 0px 20px;
}
.profileZapicCategory{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: #fefefe;
}
.profileZapicCategory button{
    border: 0px;
    border-left: 0.2px solid rgb(200, 200, 200);
    background-color: transparent;
    padding: 15px 50px;
    font-weight: 600;
    transition-duration: 0.2s;
    transition-delay: 0.3ms;
}
.profileZapicCategory button:hover{
    background-color: #0097b3;
    color: white;
}



.zapicComponent{
    transition-delay: 0.3ms;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-top: 1px solid rgb(241, 241, 241);
    transition-duration: 0.2s;
    transition-delay: 0.3ms;
    position: relative;
}
.zapicComponent:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.p{
    margin-top: -6px;
}

.zapicButton,.zapicButton0,.zapicButton02,.zapicButton03{
    top: -5px;
    position: absolute;
    right: -10px;
    border: 0px;
    border-radius: 20px;
    background-color: #0098DA;
    color: white;
    font-weight: 700;
    padding: 5px 20px;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}

.zapicButton0{
    top: -15px;
    right: -15px;
    border-radius: 10px;
    background-color: #da004c;


}
.zapicButton02{
    top: -15px;
    right: 35px;
    border-radius: 10px;

}

.zapicButton03{
    top: 10px;
    right: 105px;
    border-radius: 10px;

}


.zapicButton:hover, .zapicButton0:hover, .zapicButton02:hover, .zapicButton03:hover{
    background-color: rgb(255, 255, 255);
    color: #0098DA;
    border: 1px solid #0098DA;
}


.grayBack{
    background-color: rgb(209, 209, 209);
    color: gray !important;
}

.greenBack{
    background-color: rgb(209, 236, 219);
    color: rgb(0, 128, 109);
}
.zapicComponentHead{
    border-radius: 6px 6px 0px 0px;
}
.zapicPadding{
    padding: 10px 15px 0px ;
    width: 20%;

}




.zapicComponentAnaliz{
    border: 0.1px solid rgb(223, 223, 223);
    padding: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition-duration: 0.2s;
    transition-delay: 0.3ms;
    border-radius: 6px;
    position: relative;
    padding: 15px;
    margin: 20px 0px;
}
.analizPriceZapic{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    right: 0px;
}

/*АККОРДЕОН*/
:root {
    --primary: #0097b3;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79;
    /* Theme color */
    --theme: var(--primary);
}
*, *::before, *::after {
    box-sizing: border-box;
}

/* Core styles/functionality */
.tab {
    position: relative;
}
.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab__content {
    max-height: 0;
    transition: all 0.35s;

}
.tab input:checked ~ .tab__content {
    max-height: 2000px;
}

/* Visual styles */
.accordion {
    border: 0px solid;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    margin-top: 0px ;
}
.tab__label,
.tab__close {
    display: flex;
    color: #0097b3;
    border: 0.2px solid #0097b3;
    cursor: pointer;
    font-weight: 600;
}
.tab__label {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
    margin-left: auto;
}
.tab input:checked + .tab__label::after {
    transform: rotate(270deg);
}
.tab__content p {
    margin: 0;
    padding: 1rem;
}
.tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}
.accordion--radio {
    --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .5s infinite;
}
@keyframes bounce {
    25% {
        transform: rotate(90deg) translate(.25rem);
    }
    75% {
        transform: rotate(90deg) translate(-.25rem);
    }
}

/*КАБИНЕТ ВРАЧА*/

.doctorCalendar{

    height: 500px;
    border: 0.5px solid gainsboro;
    border-radius: 10px;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.itogo {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.itogo h4{
    border: 0.5px solid #0097b3;
    padding: 10px 20px;
    margin: 0px;
    border-radius: 10px;
    max-width: auto;
}

.applyCart{
    margin-left: 83%;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: #ff7b7b;
    font-weight: 700;
}
.applyCart:hover{
    background-color: #eaf9ff;
    color: #0097b3;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
    border: 0.5px solid #0097b3;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b1,.b2{
    background-color: #0097b3;
    color: white;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
    padding: 7px 15px;
    border: 0px;
    border-radius: 10px;
}
.b2{
    background-color: #ff7b7b;
}

.alert{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 30px 10px;
}


.fmg{
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.fmg input{
    border: 1px solid #0097b3;
    padding: 5px;
    border-radius: 6px;
    background-color: #e9f4f9;
    border-bottom: 0.5px solid #0097b3;
    width: 200px;
}
.fmg label{
    font-weight: 700;
}
.weekDay{
    text-align: center;
    font-weight: 600;
}
.weekend{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dayTimes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.time{
    border: transparent;
    background-color: #0097b3;
    color: white;
    font-weight: 600;
    padding: 6px 5px;
    border-radius: 10px;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
    border: 0.5px solid #0097b3;

}

.selected{
    background-color:#7dc67d;
    border: 0.5px solid #7dc67d;
    box-shadow:  #7dc67d 0px 4px 12px;

}
.calendarGrey{
    background-color: rgb(224, 224, 224);
    color: gray;
    border: gray;
}
.calendarGrey:hover{
    background-color: rgb(224, 224, 224);
    color: gray;
    border: gray;
    cursor: not-allowed;
}
.md{
    min-width: 980px;
    width: auto;
    margin-left: -200px !important;
}

.calendarTable{
    width: auto;
    max-width: 100%;
    overflow-x: auto; /* Добавляем горизонтальную прокрутку */
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-y: auto;
    overflow: hidden;
    overflow-x: auto;
}

.emptyDay {
    height: 40px; /* Высота пустой полосы */
    background-color: #f8f9fa; /* Светло-серый фон */
    border: 1px dashed #ddd; /* Пунктирная граница */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d; /* Серый текст */
    font-size: 14px; /* Размер шрифта */
    font-style: italic; /* Курсив для текста */
    border-radius: 10px;
}



.appDoctorHead{
    align-self: center;
    text-align: center;
}
.appDoctor{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(97, 104, 111, 0.2) 0px 8px 54px;
    width: 1100px !important;
    padding: 20px 70px 40px 70px;
    gap: 30px;
}
.appDoctor img{
    width: 350px;
    align-self: center;
}
.appDoctorText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.v{
    width: 90%;
}
.appDoctorData{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    margin-left: 150px;
}
.appDoctorData label{
    font-weight: 600;
    color: gray;
}

.vAddress{
    display: flex;
    flex-direction: column;
}

.cancelApp{
    border: none;
    background-color: #25637d;
    color: white;
    font-weight: 700;
    padding: 15px 10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 60%;
    align-self: center;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}
.cancelApp:hover{
    background-color: #602b2b;

}
.cancelAppLink{
    border: 1px solid #0097b3;
    background-color: transparent;
    color: #0097b3;
    font-weight: 700;
    padding: 15px 10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 60%;
    text-align: center;
    text-decoration: none;
    align-self: center;
    transition-duration: 0.1s;
    transition-delay: 0.2ms;
}
.cancelAppLink:hover{
    background-color: #0097b3;
    color: white;
}

.mapBtn{
    border: none;
    background-color: transparent;
    padding: 0px ;
    margin-bottom: 15px;
}
.hiddenId{
    display: none;
}

.dcWidth{
    width: 700px;
}

.diagnosticAlert{
    padding: 20px 10px;
}

.d-none{
    display: none !important;
}

.alert-diagnostic-success{
    text-align: center;
    border: 0.5px solid #7dc67d;
    background-color: #e4fae4;
    margin-top: 20px !important;
}
